div(id="{$_name}" class="{$class}")
	style.
		
			.custom-transaction .select2{
				width:100px!important;
			}
			.custom-transaction .curreny .atk-form-row{
				float:left;
			}

	.custom-transaction.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.main-box
			.main-box-body.clearfix
				{$date}
				form.form-group
					.row.xepan-push
						.col-md-6.col-lg-6
							.row.xepan-push
									cite
										strong DR
								.col-md-8.col-lg-8
									.atk-form-row.atk-form-field{$left}
								.col-md-4.col-lg-4
									.atk-form-row.atk-form-field.xbtn.xbtn-primary{$left_amount}
								.col-md-8.col-lg-8
									//- .atk-form-row.atk-form-field{$left_currency}@ {left_exchange_rate}
									.atk-form-row.atk-form-field.curreny{$left_currency}{$left_exchange_rate}						
						.col-md-6.col-lg-6
							.row.xepan-push
									cite 
										strong  CR
								.col-md-8.col-lg-8
									.atk-form-row.atk-form-field{$right}
								.col-md-4.col-lg-4
									.atk-form-row.atk-form-field.xbtn.xbtn-primary{$right_amount}
								.col-md-8.col-lg-8
									.atk-form-row.atk-form-field.curreny{$right_currency}{right_exchange_rate}
					.xepan-push-large
					hr
					a.xbtn.xbtn-primary.atk-swatch-tomato.atk-button-large.atk-col-5.w-shadow.action-large						
						{$FormButtons}
{$Content}
