div(id="{$_name}" class="{$class}")
	.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.main-box
			.main-box-body.clearfix
				form.form-group
					.row.xepan-push
						.col-md-6.col-lg-6
							cite
								strong DR
							.atk-form-row.atk-form-field{$left}
						.col-md-6.col-lg-6
							cite 
								strong  CR
							.atk-form-row.atk-form-field{$right}
					.xepan-push-large
					.xepan-push-large
					hr
					a.xbtn.xbtn-primary.atk-swatch-tomato.atk-button-large.atk-col-5.w-shadow.action-large						
						{$FormButtons}
{$date}
{$Content}