
<div id="{$_name}" class="{$class}">
  <div class="atk-box-large atk-swatch-ink atk-push-reset atk-shape-rounded-top">
    <div class="main-box">
      <div class="main-box-body clearfix">
        <form class="form-group">
          <div class="row xepan-push">
            <div class="col-md-6 col-lg-6">
              <cite><strong>DR</strong></cite>
              <div class="atk-form-row atk-form-field">{$left}</div>
            </div>
            <div class="col-md-6 col-lg-6">
              <cite> <strong> CR</strong></cite>
              <div class="atk-form-row atk-form-field">{$right}</div>
            </div>
          </div>
          <div class="xepan-push-large"></div>
          <div class="xepan-push-large"></div>
          <hr/><a class="xbtn xbtn-primary atk-swatch-tomato atk-button-large atk-col-5 w-shadow action-large">
            						
            {$FormButtons}</a>
        </form>
      </div>
    </div>
  </div>
</div>{$date}
{$Content}