
<div id="{$_name}" class="{$class}">
  <style>
    
    	.custom-transaction .select2{
    		width:100px!important;
    	}
    	.custom-transaction .curreny .atk-form-row{
    		float:left;
    	}
    
  </style>
  <div class="custom-transaction atk-box-large atk-swatch-ink atk-push-reset atk-shape-rounded-top">
    <div class="main-box">
      <div class="main-box-body clearfix">{$date}
        <form class="form-group">
          <div class="row xepan-push">
            <div class="col-md-6 col-lg-6">
              <div class="row xepan-push">
                <cite><strong>DR</strong></cite>
              </div>
              <div class="col-md-8 col-lg-8">
                <div class="atk-form-row atk-form-field">{$left}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$left_amount}</div>
              </div>
              <div class="col-md-8 col-lg-8">
                <div class="atk-form-row atk-form-field curreny">{$left_currency}{$left_exchange_rate}						</div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="row xepan-push">
                <cite> <strong> CR</strong></cite>
              </div>
              <div class="col-md-8 col-lg-8">
                <div class="atk-form-row atk-form-field">{$right}</div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="atk-form-row atk-form-field">{$right_amount}</div>
              </div>
              <div class="col-md-8 col-lg-8">
                <div class="atk-form-row atk-form-field curreny">{$right_currency}{right_exchange_rate}</div>
              </div>
            </div>
          </div>
          <div class="xepan-push-large"></div>
          <hr/><a class="xbtn xbtn-primary atk-swatch-tomato atk-button-large atk-col-5 w-shadow action-large">
            						
            {$FormButtons}</a>
        </form>
      </div>
    </div>
  </div>
</div>{$Content}