{$Content}
.row
	.col-lg-12
		.main-box
			header.main-box-header.clearfix
				h2 Merge Accounts 
			.main-box-body.clearfix
				.row.xepan-push
					.col-lg-6
						label  
						strong Account Name (For Removing) :
						div.atk-form-row.atk-form-field {$ldgr_for_remove}
						.xepan-push
						.main-box-body
							.row
								{$ldgr_for_remove_details}
					.col-lg-6
						label  
						strong Account Name (For Merging Removed Ledger Into Existing):
						div.atk-form-row.atk-form-field {$new_merged_ldgr}
						.xepan-push
						.main-box-body.clearfix
							.row
								{$new_merged_ldgr_details}
				.row.xepan-push
					.col-lg-6
						label  
						strong Please Select Options (For Update Ledger Info In Selected Option) :
				.row.xepan-push
					.col-lg-4
						div.atk-form-row.atk-form-field {$update_in_account_transaction}
					.col-lg-4
						div.atk-form-row.atk-form-field {$update_in_account_entry_template}
				.row.xepan-push
					.col-lg-12
						{$FormButtons}