{$Content}
<div class="row">
  <div class="col-lg-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2>Merge Accounts </h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="row xepan-push">
          <div class="col-lg-6">
            <label> </label><strong>Account Name (For Removing) :</strong>
            <div class="atk-form-row atk-form-field">{$ldgr_for_remove}</div>{$ldgr_for_remove_details}
          </div>
          <div class="col-lg-6">
            <label> </label><strong>Account Name (For Merging Removed Ledger Into Existing):</strong>
            <div class="atk-form-row atk-form-field">{$new_merged_ldgr}</div>{$new_merged_ldgr_details}
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-4">
            <div class="atk-form-row atk-form-field">{$update_in_account_transaction}</div>
          </div>
          <div class="col-lg-4">
            <div class="atk-form-row atk-form-field">{$update_in_account_entry_template}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-12">{$FormButtons}</div>
        </div>
      </div>
    </div>
  </div>
</div>