{$Content}
<div class="row">
  <div class="col-lg-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2>Merge Accounts </h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="row xepan-push">
          <div class="col-lg-6">
            <label> </label><strong>Account Name (For Removing) :</strong>
            <div class="atk-form-row atk-form-field">{$ldgr_for_remove}</div>
          </div>
          <div class="col-lg-6">
            <label> </label><strong>Account Name (For Merging Removed Ledger Into Existing):</strong>
            <div class="atk-form-row atk-form-field">{$new_merged_ldgr}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-6">
            <label> </label><strong>Ledger Type :</strong>
            <div class="atk-form-row atk-form-field">{$ldgr_for_remove_ledger_type}</div>
          </div>
          <div class="col-lg-6">
            <label> </label><strong>Ledger Type :</strong>
            <div class="atk-form-row atk-form-field">{$new_merged_ldgr_ledger_type}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-6">
            <label> </label><strong>Group Name :</strong>
            <div class="atk-form-row atk-form-field">{$ldgr_for_remove_group_name}</div>
          </div>
          <div class="col-lg-6">
            <label> </label><strong>Group Name :</strong>
            <div class="atk-form-row atk-form-field">{$new_merged_ldgr_group_name}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-6">
            <label> </label><strong>Opening Balance Dr :</strong>
            <div class="atk-form-row atk-form-field">{$ldgr_for_remove_OpeningBalanceDr}</div>
          </div>
          <div class="col-lg-6">
            <label> </label><strong>Opening Balance Dr :</strong>
            <div class="atk-form-row atk-form-field">{$new_merged_ldgr_OpeningBalanceDr}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-6">
            <label> </label><strong>Opening Balance Cr :</strong>
            <div class="atk-form-row atk-form-field">{$ldgr_for_remove_OpeningBalanceCr}</div>
          </div>
          <div class="col-lg-6">
            <label> </label><strong>Opening Balance Cr :</strong>
            <div class="atk-form-row atk-form-field">{$new_merged_ldgr_OpeningBalanceCr}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-12">{$FormButtons}</div>
        </div>
      </div>
    </div>
  </div>
</div>