{$Content}
.row
	.col-lg-12
		.main-box
			header.main-box-header.clearfix
				h2 Cash Book Statement
			.main-box-body.clearfix
				.row.xepan-push
					.col-lg-6
						label  
						strong From Date:
						div.atk-form-row.atk-form-field {$from_date}
					.col-lg-6
						label  
						strong To Date:
						div.atk-form-row.atk-form-field {$to_date}
				.row.xepan-push
					.col-lg-12
						{$FormButtons}