{$Content}
.row
	.col-lg-12
		.main-box
			header.main-box-header.clearfix
				h2 Day Book Statement 
			.main-box-body.clearfix
				.row.xepan-push
					.col-lg-12
						label  
						strong Date:
						div.atk-form-row.atk-form-field {$date}
				.row.xepan-push
					.col-lg-12
						{$FormButtons}