div(id="{$_name}" class="{$class}")
	style.
		
			.custom-transaction .select2{
				width:100px!important;
			}
			.custom-transaction .curreny .atk-form-row{
				float:left;
			}

	.custom-transaction.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.main-box
			.main-box-body.clearfix
				{$date}
				{$transactions}