div(id="{$_name}" class="{$class}")
	style.
		
			.custom-transaction .select2{
				width:100%!important;
			}
			.custom-transaction .select2-container .select2-selection--single{
				line-height:23px!important;
				height:24px!important;
			}
			.custom-transaction .select2-container--default .select2-selection--single .select2-selection__rendered{
				line-height:20px!important;
				font-size:12px!important;
			}
			
			.custom-transaction .select2-container .select2-selection--single .select2-selection__arrow{
				height:22px!important;
			}
			.custom-transaction .curreny .atk-form-row{
				float:left;
				padding-right:1.5rem!important;
				width:50%
			}
			.custom-transaction .curreny .atk-form-row-line{
				margin-top:-20px;
			}
			.custom-transaction .xbtn button{
				padding:0px 6px!important;
			}

	.custom-transaction.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.main-box
			.main-box-body.clearfix
				{$date}
				{$transactions}
				{$narration}