div(id="{$_name}" class="{$class}")
	h2.atk-push Payment Received In Bank
	.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
		.main-box
			.main-box-body.clearfix
				form.form-group
					h2.xepan-push-small From:- 
					.row.xepan-push
						.col-md-4.col-lg-4
							.atk-form-row.atk-form-field{$received_from}
						.col-md-4.col-lg-4
							.atk-form-row.atk-form-field{$amount}
						.col-md-4.col-lg-4
							.atk-form-row.atk-form-field{$currency}&nbsp;@{$exchange_rate}
					.main-box
						.main-box-body.clearfix
							.row
								.col-lg-12
									h2.xepan-push-small Invoices: 
									.row.xepan-push
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$invoice_no}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$amount}
									.row.xepan-push
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$invoice_no_2}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$amount}
									.row.xepan-push
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$invoice_no_3}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$amount}
									.row.xepan-push
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$invoice_no_4}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$amount}
					h2.xepan-push-small To:- 
					.row.xepan-push
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$bank_account}
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$date}
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$currency}
						.col-md-3.col-lg-3
							.atk-form-row.atk-form-field{$amount}
					.main-box
						.main-box-body.clearfix
							.row
								.col-lg-12
									h2.xepan-push-small Different Charges:
									.row.xepan-push 
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_account}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$date}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$amount}
									.row.xepan-push 
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_account}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$date}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$amount}
									.row.xepan-push 
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$bank_account}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$date}
										.col-md-4.col-lg-4
											.atk-form-row.atk-form-field{$amount}
						
					.row
						.col-md-12.col-lg-12
							.atk-form-row.atk-form-field{$narration}
				.xepan-push-large
				.xepan-push-large
				.atk-align-center.h-lines
						span.h-lines-wrap
						a.atk-swatch-tomato.atk-button-large.atk-col-5.w-shadow.action-large						
							{$FormButtons}