.row
	.col-md-12
		.panel.panel-default
			.panel-body
				{account_info}
				.row.xepan-push
					.col-md-4
						strong Name:
						.row
							cite {$name}
					.col-md-4
						strong Display Name:
						.row
							cite {$LedgerDisplayName}
					.col-md-4
						strong Group:
						.row
							cite {$group_id}{$group_id}
				.row
					.col-md-4
						strong OpeningBalanceDr:
						.row
							cite {$OpeningBalanceDr}
					.col-md-4
						strong OpeningBalanceCr:
						.row
							cite {$OpeningBalanceCr}
				{/}		