
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead>{cols}{col}
        <th> <span>SNo</span></th>
        <th data-hide="phone"><span>Created At</span></th>
        <th><span>Voucher No</span></th>
        <th data-hide="phone"><span>Transaction Type</span></th>
        <th><span>Debit</span></th>
        <th><span>Credit</span></th>
        <th><span>Balance</span></th>
        <th><span>Attachments   </span></th>
        <th></th>
        <th>      </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>
             
            {$s_no}
          </td>
          <td>{$created_at}</td>
          <td>{$voucher_no}</td>
          <td>{$transaction_type}{$sales_no}
            <div><span class="user-subhead">{$Narration}</span></div>
          </td>
          <td>{$amountDr}
            <div class="xepan-push"></div><small>
              {$currency_dr}
              {$original_amount_dr}</small>
          </td>
          <td>{$amountCr}
            <div class="xepan-push"></div><small>
              {$currency_cr}
              {$original_amount_cr}</small>
          </td>
          <td>{$Balance}</td>
          <td class="text-center">
            <div style="cursor:pointer; cursor: hand; max-width:600px;" class="do-view-attachment">{$attachment_icon}</div>
          </td>
          <td>{$edit_transaction}</td>
          <td style="width: 15%;">{$delete}</td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>