
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2>Create Ledger</h2>
      </header>
      <div class="main-box-body clearfix">{account_info}
        <div class="row xepan-push">
          <div class="col-md-3">
            <label></label><strong>Name:</strong>
            <div>
              <cite>{$name}</cite>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label></label><strong>Display Name:</strong>
            <div>
              <cite>{$LedgerDisplayName}</cite>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label></label><strong>Group:</strong>
            <div>
              <cite>{$group}{$group_id}</cite>
            </div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-md-3">
            <label></label><strong>OpeningBalanceDr:</strong>
            <div>
              <cite>{$OpeningBalanceDr}</cite>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label></label><strong>OpeningBalanceCr:</strong>
            <div>
              <cite>{$OpeningBalanceCr}</cite>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label></label><strong>Ledger Type:</strong>
            <div>
              <cite>{$ledger_type}</cite>
            </div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-md-12">
            <label></label><strong>Related Contact (If Any?):</strong>
            <div>
              <cite>{$contact_id}{$contact}</cite>
            </div>
          </div>
        </div>{/}		
      </div>
    </div>
  </div>
</div>