{rows}{row}
.col-md-4.col-sm-6.col-xs-12.hidden-sm
  .main-box.small-graph-box.green-bg
    span.value {$name}
    span
      cite {$description}
      hr			
      .project-box-ultrafooter.clearfix
        .col-lg-4
        .col-lg-4
          a.user-link(href='index.php?page=xepan_accounts_accountdetail&action=add&acc_type={$acctype}')      
              button.btn.btn-primary.btn-sm.atk-button(style='')
                  |  Select
        .col-lg-4
{/}{/}          