
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">{account_info}
        <div class="row xepan-push">
          <div class="col-md-4"><strong>Name:</strong>
            <div class="row">
              <cite>{$name}</cite>
            </div>
          </div>
          <div class="col-md-4"><strong>Display Name:</strong>
            <div class="row">
              <cite>{$LedgerDisplayName}</cite>
            </div>
          </div>
          <div class="col-md-4"><strong>Group:</strong>
            <div class="row">
              <cite>{$group_id}{$group_id}</cite>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"><strong>OpeningBalanceDr:</strong>
            <div class="row">
              <cite>{$OpeningBalanceDr}</cite>
            </div>
          </div>
          <div class="col-md-4"><strong>OpeningBalanceCr:</strong>
            <div class="row">
              <cite>{$OpeningBalanceCr}</cite>
            </div>
          </div>
        </div>{/}		
      </div>
    </div>
  </div>
</div>