.row
	.col-md-12
		.panel.panel-default
			.panel-body
				.row.xepan-push
					.col-md-4
						strong Name:
						.row
							cite {$name}
					.col-md-4
						strong Display Name:
						.row
							cite {$AccountDisplayName}
					.col-md-4
						strong Group:
						.row
							cite {$group}{$group_id}
				.row
					.col-md-4
						strong OpeningBalanceDr:
						.row
							cite {$OpeningBalanceDr}
					.col-md-4
						strong OpeningBalanceCr:
						.row
							cite {$OpeningBalanceCr}		