{rows}{row}
<div class="col-md-4 col-sm-6 col-xs-12 hidden-sm">
  <div class="main-box small-graph-box green-bg"><span class="value">{$name}</span><span>
      <cite>{$description}</cite>
      <hr/>
      <div class="project-box-ultrafooter clearfix">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><a href="index.php?page=xepan_accounts_accountdetail&amp;action=add&amp;ledger_type={$ledger_type}" class="user-link">     
            <button style="" class="btn btn-primary btn-sm atk-button"> Select</button></a></div>
        <div class="col-lg-4"></div>
      </div></span></div>
</div>{/}{/}          