.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table-responsive
        table.table.user-list.table-hover.footable.toggle-circle-filled(style="width:100%")
            {header}
            thead.xepan-hover-hand
                {cols}{col}
                th(id="{$balance_sheet_sortid}")
                    span Balance Sheet 
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$balance_sheet_sort}
                th(id="{$name_sortid}")
                    span Group
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$name_sort}
                th(id="{$parent_group_sortid}"  data-hide="phone")
                    span Parent Group
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$parent_group_sort}
                th(id="{$root_group_sortid}"  data-hide="phone")
                    span Root Group
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$root_group_sort}
                th(id="{$created_at_sortid}"  data-hide="phone")
                    span Created Date
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$created_at_sort}
                th 
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td
                      | {$balance_sheet}
                    td
                      | {$name}
                    td
                      | {$parent_group}
                    td
                      | {$root_group}
                    td
                      | {$created_at}
                    //- td
                    //-     | {$action}
                    td(style="width: 15%;")
                        {$edit}
                        {$delete}
                    
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
