.row.xepan-push(id="{$_name}")
	{ledger_wrapper}
	.col-lg-12
		label  
		strong Ledger Name :
		div.atk-form-row.atk-form-field {$name}
.row.xepan-push
	.col-lg-12
		label  
		strong Ledger Type :
		div.atk-form-row.atk-form-field {$ledger_type}
.row.xepan-push
	.col-lg-12
		label  
		strong Group Name :
		div.atk-form-row.atk-form-field {$group}
.row.xepan-push
	.col-lg-12
		label  
		strong Opening Balance Dr :
		div.atk-form-row.atk-form-field {$OpeningBalanceDr}
.row.xepan-push
	.col-lg-12
		label  
		strong Opening Balance Cr :
		div.atk-form-row.atk-form-field {$OpeningBalanceCr}
.row.xepan-push
	.col-lg-12
		label  
		strong Contact (If any) :
		div.atk-form-row.atk-form-field {$contact}
	{/}