
<div id="{$_name}" class="row xepan-push">{ledger_wrapper}
  <div class="col-lg-12">
    <label> </label><strong>Ledger Name :</strong>
    <div class="atk-form-row atk-form-field">{$name}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-lg-12">
    <label> </label><strong>Ledger Type :</strong>
    <div class="atk-form-row atk-form-field">{$ledger_type}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-lg-12">
    <label> </label><strong>Group Name :</strong>
    <div class="atk-form-row atk-form-field">{$group}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-lg-12">
    <label> </label><strong>Opening Balance Dr :</strong>
    <div class="atk-form-row atk-form-field">{$OpeningBalanceDr}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-lg-12">
    <label> </label><strong>Opening Balance Cr :</strong>
    <div class="atk-form-row atk-form-field">{$OpeningBalanceCr}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-lg-12">
    <label> </label><strong>Contact (If any) :</strong>
    <div class="atk-form-row atk-form-field">{$contact}</div>
  </div>{/}
</div>