div(id="{$_name}" class="{$class}" style="{$style}")
	div.transaction-header
		h2.transaction-name.text-center Undefined
	.row
		.col-md-6.col-sm-6.col-lg-6.col-xs-6.transaction-left-side
			p Left side
		.col-md-6.col-sm-6.col-lg-6.col-xs-6.transaction-right-side
			p Right side
