
<div id="{$_name}" style="{$style}" class="{$class}">
  <div class="transaction-header">
    <h2 class="transaction-name text-center">Undefined</h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 transaction-left-side">
      <p>Left side</p>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 transaction-right-side">
      <p>Right side</p>
    </div>
  </div>
  <div class="transaction-footer"></div>
  <style>
    .error-message,
    .tra-field-error{
    	color:red !important;
    }
    .tra-field-error{
    	border:1px solid red !important;
    }
  </style>
</div>