div(id="{$_name}" class="{$class}" style="{$style}")
	{$Contet}
	style.

		.error-message,
		.tra-field-error{
			color:red !important;
		}
		.tra-field-error{
			border:1px solid red !important;
		}

