.row
  .col-lg-12.col-md-12.col-sm-12
    .main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab-cash') Cash Payment
          li
            a(data-toggle='tab', href='#tab-bank') Bank Payment
        .tab-content
          #tab-cash.tab-pane.fade.in.active
            {$cash_view}
          #tab-bank.tab-pane.fade
            {$bank_view}
