
<div id="{$_name}">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6"><a href="{url}?page=xepan_accounts_balancesheetdetail&amp;account_balance_sheet_id={$id}{/}" class="user-link">{$assets_name}</a></div>
        <div class="col-md-6">{$assets_amount}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6"><a href="{url}?page=xepan_accounts_balancesheetdetail&amp;account_balance_sheet_id={$id}{/}" class="user-link">{$liabilities_name}</a></div>
        <div class="col-md-6">{$liabilities_amount}</div>
      </div>
    </div>
  </div>{$Content}
</div>