style.
	.atk-cells {
	  display: table;
	  width: 100%;
	}
	.atk-cells > .atk-cell {
	  display: table-cell;
	  vertical-align: middle;
	}
	.atk-cells.atk-cells-justified {
	  table-layout: fixed;
	}
	.atk-cells[class*=atk-move] {
	  width: auto;
	}

div(id="{$_name}")  
	.main-box
		.main-box-body.clearfix
			.xepan-push
			.row.xepan-push
				{$form}
			.row.xepan-push
				.col-md-3
					| Assests
					.xepan-push-small
					.row
						.col-md-12
							{$assets_name}

				.col-md-3
					| Amount
					.xepan-push-small
					.row
						.col-lg-12
							{$assets_amount}
					
				.col-md-3
					| Liabilities
					.xepan-push-small
					.row
						.col-md-12
							{$liabilities_name}
				.col-md-3
					| Amount
					.xepan-push-small
					.row
						.col-lg-12
							{$liabilities_amount}
		.main-box
			.main-box-body.clearfix
				{$Content}