div(id="{$_name}")
	.row
		.col-md-6
			.row
				.col-md-6
					{$assets_name}
				.col-md-6
					{$assets_amount}
		.col-md-6
			.row
				.col-md-6
					{$liabilities_name}
				.col-md-6
					{$liabilities_amount}
					
	{$Content}