div(id="{$_name}")  
	.main-box
		.main-box-body.clearfix
			.xepan-push
			.row.xepan-push
				.col-md-3
					| Profit
				.col-md-3
					| Amount
				.col-md-3
					| Loss
				.col-md-3
					| Amount
			.row
				.col-md-6
					.row
						.col-md-6
							a.user-link(href='{url}?page=xepan_accounts_balancesheetdetail&account_balance_sheet_id={$id}{/}')
								{$assets_name}
						.col-md-6
							{$assets_amount}
				.col-md-6
					.row
						.col-md-6
							a.user-link(href='{url}?page=xepan_accounts_balancesheetdetail&account_balance_sheet_id={$id}{/}')
								{$liabilities_name}
						.col-md-6
							{$liabilities_amount}

		.main-box
			.main-box-body.clearfix
				{$Content}