div(id="{$_name}")  
	.main-box
		.main-box-body.clearfix
			.xepan-push
			.row.xepan-push
				{$form}
			.row.xepan-push
				.col-md-3
					| Profit
					.xepan-push-small
					.row
						.col-md-12
							a.user-link(href='{url}?page=xepan_accounts_balancesheetdetail&account_balance_sheet_id={$id}{/}')
								{$assets_name}
				.col-md-3
					| Amount
					.xepan-push-small
					.row
						.col-md-12
							{$assets_amount}
				.col-md-3
					| Loss
					.xepan-push-small
					.row
						.col-md-12
							a.user-link(href='{url}?page=xepan_accounts_balancesheetdetail&account_balance_sheet_id={$id}{/}')
								{$liabilities_name}
				.col-md-3
					| Amount
					.xepan-push-small
					.row
						.col-lg-12
							{$liabilities_amount}
		.main-box
			.main-box-body.clearfix
				{$Content}