.bs(id="{$_name}")
	| ABCD REPORT SECTION [{HEAD:Capital Account}]
	br
	| CALCULATION [{HEAD:Capital Account} - {HEAD:Sundry Debtor}]
	br
	| Under it [{GROUP:Capital Account} - {GROUP:ABCD}]
	br
	| Or some other [{LEDGER:Sundry Debtor}]
